html {
  font-family: "Poppins", sans-serif;
  overflow: hidden;

  // ::-webkit-scrollbar-thumb:hover {
  //   background:  rgb(55, 128, 211); 
  // }

  
  body {
    margin: 0;
    color: #1b5381;
    * {
      transition: .2s;
    }
    #root {
      overflow: hidden;
      height: 100vh;
      max-height: 100vh;
    }
  }
}
