html {
  font-family: "Poppins", sans-serif;
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: white;
  }

  ::-webkit-scrollbar-thumb {
    background: #a3a1b8;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #817f9c;
  }
  
  body {
    margin: 0;
    color: #1b5381;
    #root {
      overflow: hidden;
      min-height: 100vh;
      background: #f5f3eb73;
      &.nightmode {
        background: #040117f2;

      }
    }
  }
}
